.header {
    background-color: var(--gray-700);
    padding: 0 2rem;
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img {
    height: 3rem;
    width: 100%;
}